<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group [(ngModel)]="settings.useCelsius">
      <ion-item>
        <ion-label>Celsius (°C)</ion-label>
        <ion-radio slot="start" [value]="true"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Fahrenheit (°F)</ion-label>
        <ion-radio slot="start" [value]="false"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-item>
      <ion-label>Dark Mode</ion-label>
      <ion-toggle [(ngModel)]="settings.darkMode" (ionChange)="toggleDarkMode()"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="saveSettings()">Save</ion-button>
</ion-content>
